<section role="main" class="content-body card-margin" style="width: 2400px;">
    <div class="row">
      <div class="col-lg-6">
        <section class="card">
          <header class="card-header">
            <div class="card-actions">
              <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
              <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
            </div>
            <h2 class="card-title">Liste products</h2>
          </header>
          <div class="card-body">
            <table class="table table-responsive-md mb-0">
              <thead>
                <tr>
                  <th>idProduct</th>
                  <th>descriptionProduct</th>
                  <th>priceProduct</th>
                  <th>quantityProduct</th>
                  <th>nameProduct</th>
                  <th>referenceProduct</th>
                   <!--<th>imageProduct</th> -->
                   <!--<th>discountProduct</th> -->
                  <th>marqueProduct</th>
                  <!--<th>dateCreationProduct</th>-->

                </tr>
              </thead>
              <tbody>
                <tr class="active" *ngFor="let prod of products">
                  <td>{{prod.idProduct}}</td>
                  <td>{{prod.descriptionProduct}}</td>
                  <td>{{prod.priceProduct}}</td>
                  <td>{{prod.quantityProduct}}</td>
                  <td>{{prod.nameProduct}}</td>
                  <td>{{prod.referenceProduct}}</td>
                  <!--<td>{{prod.imageProduct}}</td>-->
                  <!--<td>{{prod.discountProduct}}</td>-->
                  <td>{{prod.marqueProduct}}</td>
                 <!--<td>{{prod.dateCreationProduct}}</td> -->
                </tr>
    
              </tbody>
            </table>
          </div>
        </section>
      </div>
    
    </div>
    
    </section>
    
