<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ajouter un post</h5>

          <form [formGroup]="ngForm" (ngSubmit)="onsubmit()">
            <div class="form-group">
              <label>Topic:</label>
              <input type="text" class="form-control" formControlName="topic" />
            </div>

            <div class="form-group">
              <label>Description:</label>
              <input type="text" class="form-control" formControlName="description" />
            </div>

            <div class="form-group">
              <label>Catégorie:</label>
              <select class="form-control" formControlName="categoryId">
                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Image:</label>
              <input type="file" class="form-control-file" (change)="onFileSelected($event)" />
            </div>

            <button type="submit" class="btn btn-primary">Ajouter</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</div>
