<header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': false, 'stickyEnableOnMobile': false, 'stickyStartAt': 70, 'stickyChangeLogo': false, 'stickyHeaderContainerHeight': 70}">
    <div class="header-body border-top-0 box-shadow-none">
        <div class="header-container header-container-md container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="index.html"><img alt="Porto" width="100" height="48" data-sticky-width="82" data-sticky-height="40" data-sticky-top="0" src="/assets/FrontOffice/img/logo-default-slim.png"></a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div class="header-nav header-nav-line header-nav-bottom-line header-nav-bottom-line-no-transform header-nav-bottom-line-active-text-dark header-nav-bottom-line-effect-1 order-2 order-lg-1">
                            <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="dropdown dropdown-toggle">
                                            <a class="dropdown-item dropdown-toggle">
                                                Forum
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="dropdown-mega-content">
                                                        <div class="row">
                                                                <ul class="dropdown-mega-sub-nav">
                                                                    <li>
                                                                        <a class="dropdown-item" [routerLink]="['/front/addpost']">
                                                                            Add Call For Tender
                                                                        </a>
                                                                    </li>
                                                                    <li class="dropdown dropdown-mega">
                                                                        <a class="dropdown-item " [routerLink]="['/front/listforum']">
                                                                            Forum list
                                                                        </a>
                                                                    </li>                                                                </ul>
                                                            </div>
                                                        </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-toggle">
                                            <a class="dropdown-item dropdown-toggle">
                                                Product
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="dropdown-mega-content">
                                                        <div class="row">
                                                                <ul class="dropdown-mega-sub-nav">
                                                                    
                                                                    <li class="dropdown dropdown-mega">
                                                                        <a class="dropdown-item dropdown-toggle" [routerLink]="['/front/shop']">
                                                                            Product List
                                                                        </a>
                                                                    </li>                                                              </ul>
                                                            </div>
                                                        </div>
                                                </li>
                                            </ul>
                                        </li>
                                        
                                        


                                    </ul>
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                        <div class="header-nav-features header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2">
                            <div class="header-nav-feature header-nav-features-search d-inline-flex">
                                <a [routerLink]="['/signup']" class="header-nav-features-toggle text-decoration-none" data-focus="headerSearch" aria-label="Search"><i class="fas fa-search header-nav-top-icon"></i></a>
                                <div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed" id="headerTopSearchDropdown">
                                    <form role="search" action="https://www.okler.net/previews/porto/9.9.2/page-search-results.html" method="get">
                                        <div class="simple-search input-group">
                                            <input class="form-control text-1" id="headerSearch" name="q" type="search" value="" placeholder="Search...">
                                            <button class="btn" type="submit" aria-label="Search">
                                                <i class="fas fa-search header-nav-top-icon text-color-dark"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                            <div class="header-nav-feature d-inline-flex ms-2">
                                <a [routerLink]="['/signup']" class="header-nav-features-toggle" aria-label="">
                                    <img src="/assets/FrontOffice/img/icons/icon-user.svg" width="14" alt="" class="header-nav-top-icon-img">
                                    <span class="cart-info">
                                        <span class="cart-qty">1</span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="feature-cursor-effect.html">Cursor Effect</a></li>
                                    <li><a class="dropdown-item" href="feature-grid-system.html">Grid System</a></li>
                                    <li><a class="dropdown-item" href="feature-reading-progress.html">Reading Progress</a></li>
                                    <li><a class="dropdown-item" href="feature-lazy-load.html">Lazy Load</a></li>
                                    <li><a class="dropdown-item" href="feature-page-loading.html">Page Loading</a></li>
                                    <li><a class="dropdown-item" href="feature-page-transition.html">Page Transition</a></li>
                                    <li><a class="dropdown-item" href="feature-side-panel.html">Side Panel</a></li>
                                    <li><a class="dropdown-item" href="feature-horizontal-scroll.html">Horizontal Scroll</a></li>
                                    <li><a class="dropdown-item" href="feature-locomotive-scroll.html">Locomotive Scroll</a></li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>